@import "normalize.styl"

back1_color = #637884
back2_color = #BD255B
gris_oscuro = #333333
gris_claro = #818181
gris_mas_claro = #F0F0F0
rojo_background = #990000
rojo_hover = #D71E1E
letra = #FFFFFF
a
    text-decoration none

.wrap
    margin-right auto
    margin-left auto
    width 940px
    
.title
    font-size 30px
    &-a
        font-size 20px

.header
    height auto
    border none
    background back1_color
.logo
    display flex
.logotipo1
    width 70%
.logotipo2
    width 30%

.navbar-custom
    color letra
    background-color rojo_background
    .navbar-brand
        color letra
        &:hover
            background-color rojo_hover
        &:focus
            background-color rojo_hover
        > li > a
            color letra
            &:hover
                background-color rojo_hover
            &:focus
                background-color rojo_hover
        > .active > a
            color letra
            background-color rojo_background
            &:hover
                color letra
                background-color rojo_hover
            &:focus
                color letra
                background-color rojo_hover
        > .open > a
            color letra
            background-color rojo_background
            &:hover
                color letra
                background-color rojo_background
            &:focus
                color letra
                background-color rojo_background
        > .dropdown > a .caret
            border-top-color letra
            border-bottom-color letra
        > .dropdown > a:hover .caret
            border-top-color letra
            border-bottom-color letra
        > .dropdown > a:focus .caret
            border-top-color letra
            border-bottom-color letra