.navbar-custom
    background-color rojo_background
    border-width 1px
    border-radius 4px
    color letra
    font-size 14px
    .nav 
        .navbar-nav
            color black
            &:hover
                background-color rojo_hover
            &:focus
                background-color rojo_hover
    .navbar-brand
        color letra
        &:hover
            background-color rojo_hover
        &:focus
            background-color rojo_hover
        > li > a
            color letra
            &:hover
                background-color rojo_hover
            &:focus
                background-color rojo_hover
        > .active > a
            color letra
            background-color rojo_background
            &:hover
                color letra
                background-color rojo_hover
            &:focus
                color letra
                background-color rojo_hover
        > .open > a
            color letra
            background-color rojo_background
            &:hover
                color letra
                background-color rojo_background
            &:focus
                color letra
                background-color rojo_background
        > .dropdown > a .caret
            border-top-color letra
            border-bottom-color letra
        > .dropdown > a:hover .caret
            border-top-color letra
            border-bottom-color letra
        > .dropdown > a:focus .caret
            border-top-color letra
            border-bottom-color letra
    .navbar-toggle
        border-color rojo_hover
        &:hover
            background-color black
        &:focus
            background-color black
        .icon-bar
            background-color #CCC
    .navbar-collapse
        border-color letra
    .navbar-form
        border-color letra
    .navbar-link
        color gris_claro
        &:hover
            color gris_oscuro
.dropdown-toggle
    color letra