@import "normalize.styl"

back1_color = #637884
back2_color = #BD255B
gris_oscuro = #333333
gris_claro = #818181
rojo = #990000
gris_mas_claro = #F0F0F0
blanco = #FFFFFF

a
    text-decoration none

.wrap
    margin-right auto
    margin-left auto
    width 940px
    
.title
    font-size 30px
    &-a
        font-size 20px

.header
    height auto
    border none
    background back1_color
.logo
    display flex
.logotipo1
    width 70%
.logotipo2
    width 30%

.navbar-custom
    color blanco
    background-color rojo
    .navbar-brand
        color #777
    &:hover
        color: #5E5E5E;
    &:focus
        color: #5E5E5E;